main {
    display: inline-block;
    height: 500px;
    width: 500px;
}

div {
    display: inline-block;
    width: 33%;
    height: 33%;
}

div.forth {
    transition: width 2s, height 2s;
}

.forth:hover {
    display: flex;
    width: 50%;
    height: 50%;
}

.sixth {
    transition: 3s all;
}

@keyframes animatedBlock {
    from {
        background-color: purple
    }
    to {
        background-color: yellow
    }
}